html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  line-height: 1.6;
  font-size: 18px;
  background-color: #f3f2ef !important;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

/* a:hover {
  text-decoration: underline;
} */

img {
  max-width: 100%;
  display: block;
}

.text-right {
  text-align: right;
}

.form-control,
.btn {
  font-size: .8rem !important;
}


.float-right {
  float: right;
}

.fl {
  display: flex;
}

.form-control :focus,
.form-select :focus {
  box-shadow: none !important;
  border-color: none !important;
  background-color: none !important;
}

.color-pry {
  color: #424B57
}

.alt-color {
  color: #78808a;
}

.circle {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  display: inline-block;
}

.circle-border {
  border: 1px solid #78808a4a;
}

.circle-bg {
  background: #d3d3d38f;
}

@media (min-width: 500px) {
  .d-xs-none {
    display: none;
  }

  .mt-sm-5 {
    margin-top: 1rem;
  }
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.bg-wh {
  background-color: #ffffff;
}

.border-grey {
  border: 1px solid #a7aaae59;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bold {
  font-weight: 500;
}

.limited {
  display: inline-block;
  margin-left: 2rem;
}

.border-1 {
  border: 1px solid #cccccc;
}

.br-10 {
  border-radius: 10px;
}

.br-5 {
  border-radius: 5px;
}

.profile-img-sm {
  border-radius: 50%;
  border: none;
  height: 24px;
  overflow: hidden;
  transform: scale(1);
  transition: transform .2s ease-in-out;
  width: 24px;
}

.brand-color {
  color: #0a66c2 !important;
}

.top-bar {
  left: 0;
  padding: 0 .8rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
  border-bottom: 1px solid rgba(0, 0, 0, .08);
}

.nav-link {
  color: rgba(0, 0, 0, .6);
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}

.nav>li :hover {
  color: rgba(0, 0, 0, .9);
}

.nav-link>svg,
.nav-link>.link-name {
  display: block;
  margin: 0px auto;
}

.nav-link-active {
  color: rgba(0, 0, 0, .9);
}

.nav-link-active-bar {
  border-bottom: 2px solid rgba(0, 0, 0, .9);
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
  transform: scaleX(100%);
  transition: transform .2s ease-in;
  width: 100%
}

.search-bar {
  color: rgba(0, 0, 0, .6);
  height: 45px;
  overflow: hidden;
  padding: 5px;
}

.search-bar>svg {
  position: relative;
  top: -35px;
  left: 1rem;
}

.search-input {
  border: none;
  box-shadow: none;
  background-color: #eef3f8;
  padding-left: 2.4rem;
}

.logo {
  display: inline-block;
}

.border-left-1 {
  border-left: 1px solid #ccc;
}

.nav-link-sm {
  padding-left: 0.85rem;
  padding-right: 0.85rem;
}

.mtx {
  margin-top: 2px !important;
}

.nav-overflow {
  position: relative;
  height: 0;
  width: 0;
}

.nav-overflow-items {
  background-color: #fff;
  width: 130px;
  height: 55px;
  position: absolute;
  left: -86px;
  bottom: -65px;
  border: 1px solid #e2e0e0;
  box-shadow: 0px 4px 5px -2px #515050;
  border-radius: 0 0 10px 0;
  padding: 5px;
}

.profile-header {
  height: 56.250px;
  background-image: url('https://static.licdn.com/sc/h/55k1z8997gh8dwtihm11aajyq');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .6rem .6rem 0 0;
}

.notification-badge {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  border: 5.5px solid #cc1016;
  border-radius: 10px;
  top: -4px;
  left: 11px;
}

.insert.notification-badge {
  background: #cc1016;
  color: #fff !important;
  border: 0px;
  line-height: 13px;
  font-size: 10px;
  width: auto;
  padding: 2px;
  min-width: 16px;
}

.mobile-viewport {
  padding: 0 !important;
}

.md-viewport {
  top: 2.5rem !important
}

@media (max-width: 1200px) {
  .container {
    max-width: 100%;
    padding: 0;
  }
}

.card {
  border-radius: 0.6rem;
  background-color: #ffffff;
}

.identity>img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0px auto;
  position: relative;
  top: -36px;
}

.profile-name {
  margin-top: -.5rem;
  font-weight: 500;
  font-size: .9rem;
}

.profile-title {
  font-size: .6rem;
  color: rgba(0, 0, 0, .6);
}

.profile-views {
  padding: 0.8rem 0;
  margin-top: 0.8rem;
  border-top: 1px solid rgba(0, 0, 0, .08);
  width: 100%;
  font-size: .65rem;
  color: rgba(0, 0, 0, .6);
  font-weight: 500;
}

.alt-text {
  color: rgba(0, 0, 0, .6);
}

.pry-text {
  color: rgba(0, 0, 0, .9);
}

.profile-views>.profile-view-item {
  padding: 0.2rem 0.8rem;
}

.hover-bg:hover {
  background-color: rgba(0, 0, 0, .08);
  cursor: pointer;
}

.access-tools {
  font-size: .6rem;
  color: rgba(0, 0, 0, .6);
  border-top: 1px solid rgba(0, 0, 0, .08);
  padding: 0.8rem 0.8rem 0;
}

.premium-ad {
  padding: 0 0.8rem 0.8rem;
  line-height: 17px;
}

.premium-ad>a {
  font-size: .6rem;
  color: rgba(0, 0, 0, .6) !important;
  font-weight: 500;
  text-decoration: underline;
}

.profile-items {
  padding: .8rem;
  display: block;
  border-radius: 0 0 0.6rem 0.6rem;
  font-size: .65rem;
  font-weight: 500;
  color: rgba(0, 0, 0, .6);
  border-top: 1px solid rgba(0, 0, 0, .08);
}

.page-img>img {
  width: 32px;
  height: 32px;
}

.card-content {
  padding: .8rem;
}

.page-notifications {
  display: block;
  width: 100%;
  font-size: .65rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.page-dets {
  width: calc(100% - 32px);
  padding: 0.4rem;
}

.page-dets:hover {
  text-decoration: underline;
}

.border-1 {
  border: 1px solid rgba(0, 0, 0, .3);
}

.border-top-1 {
  border-top: 1px solid rgba(0, 0, 0, .08);
}

.page-title {
  font-size: .9rem;
}

.page-name {
  font-size: .8rem;
  font-weight: 500;
}

.page-name:hover {
  text-decoration: underline !important;
}

.text-left {
  text-align: left;
}

.new-post>img {
  height: 48px;
  width: 48px;
  margin-right: 20px;
  border-radius: 50%;
}

.new-comment>img {
  height: 40px;
  width: 40px;
  margin-right: 5px;
  border-radius: 50%;
}

.new-post>button {
  background: transparent;
  border-radius: 30px;
  font-size: .75rem;
  font-weight: 500;
  padding: 0 1rem;
  flex-grow: 1;
}

.post-buttons>.icon {
  border: none;
  background-color: transparent;
}

.post-buttons>.icon>span {
  position: relative;
  font-size: .75rem;
  font-weight: 500;
}

.icon>svg {
  width: 23px;
  height: 23px;
  margin-right: 0.4rem;
}

.post-sort {
  margin-left: 0.5rem;
  font-size: .65rem;
  margin-top: 0.4rem;
}

.post-sort>button {
  border: 0;
  padding: 0;
  background-color: transparent;
}

.options-dropdown {
  background-color: #fff;
  width: 130px;
  position: absolute;
  right: 0;
  top: 7px;
  border: 1px solid #e2e0e0;
  box-shadow: 0px 4px 5px -2px #515050;
  border-radius: 10px 0 10px 10px;
  padding: 5px;
  z-index: 1;
}

.options {
  padding: 0.3rem 0.5rem;
  margin-left: -0.3rem;
  margin-right: -0.3rem
}

.option-selected {
  border-left: 2px solid green;
}

.bold {
  font-weight: 500;
}

.post-owner>img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin-right: .5rem;
}

.post-user-name {
  font-size: .75rem;
}

.grey-dot {
  display: inline-block;
  height: 0px;
  width: 0px;
  border: 2px solid rgba(0, 0, 0, .6);
  border-radius: 10px;
  margin: -2px 5px 2px;
}

.sm-text-1 {
  font-size: .64rem;
}

.pry-button {
  border: 0;
  font-size: .7rem;
  width: 6rem;
  height: 2rem;
  border-radius: 5px;
  background-color: transparent;
}

.pry-button-hover:hover {
  color: rgb(8, 103, 184);
  background-color: aliceblue;
}

.text-lg {
  font-size: .8rem;
}

.text-md {
  font-size: .7rem;
}

.text-sm {
  font-size: .6rem;
}

.alt-text-1 {
  color: rgba(0, 0, 0, .9);
}

.post-text {
  padding-bottom: .3rem;
}

.post-image {
  margin: 0 -0.8rem;
}

.reactions>svg {
  margin-left: -0.3rem;
}

.reactions>span {
  margin-left: 0.5rem;
  position: relative;
  top: .05rem;
}

.post-actions {
  padding-top: .4rem;
}

.post-actions>button {
  border: 0;
  background: 0;
  padding: 0.6rem 0.8rem;
  border-radius: 4px;
}

.post-actions>button>span {
  position: relative;
  top: .1rem;
}

.post-liked {
  color: #378fe9;
}

.comment-box {
  padding: 0 4.5rem 0 1rem;
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: .7rem;
}

.form-control:focus {
  box-shadow: none;
  border: 2px solid #ccc;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.comment-button {
  border: none;
  width: 39px;
  height: 39px;
  border-radius: 50px;
  margin-top: 0.5px;
  line-height: 20px;
  background-color: transparent;
}

.post-comment-list>button {
  border: none;
  background-color: transparent;
}

button.order>svg {
  position: relative;
  top: -1.5px;
}

.comment-profile-details>img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: .5rem;
}

.comment-identity {
  background-color: #f2f2f2;
  padding: .5rem;
  border-radius: 0 8px 8px 8px;
}

.comment-actions>span {
  cursor: pointer;
  display: inline-block;
  padding: 0px 3px;
  border-radius: 4px;
}
.author-tag{
  display: inline-block;
  padding: 0px 3px;
  border-radius: 4px;
  background-color: #56687a;
  color: #fff;
  margin-left: 0.5rem;
}
.follow-btn{
  background-color: transparent;
  border: 1.5px solid rgba(0, 0, 0, .6);
  border-radius: 50px;
  padding: .25rem .9rem;
}
.follow-btn>svg {
  position: relative;
  top: -2px;
}
.follow-btn:hover {
  border: 2px solid rgba(0, 0, 0, .8);
}