html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  line-height: 1.6;
  font-size: 18px;
  background-color: #f3f2ef !important;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

/* a:hover {
  text-decoration: underline;
} */

img {
  max-width: 100%;
  display: block;
}

.text-right {
  text-align: right;
}

.form-control,
.btn {
  font-size: .8rem !important;
}


.float-right {
  float: right;
}

.fl {
  display: flex;
}

.form-control :focus,
.form-select :focus {
  box-shadow: none !important;
  border-color: none !important;
  background-color: none !important;
}

.color-pry {
  color: #424B57
}

.alt-color {
  color: #78808a;
}

.circle {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  display: inline-block;
}

.circle-border {
  border: 1px solid #78808a4a;
}

.circle-bg {
  background: #d3d3d38f;
}

@media (min-width: 500px) {
  .d-xs-none {
    display: none;
  }

  .mt-sm-5 {
    margin-top: 1rem;
  }
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.bg-wh {
  background-color: #ffffff;
}

.border-grey {
  border: 1px solid #a7aaae59;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bold {
  font-weight: 500;
}

.limited {
  display: inline-block;
  margin-left: 2rem;
}

.border-1 {
  border: 1px solid #cccccc;
}

.br-10 {
  border-radius: 10px;
}

.br-5 {
  border-radius: 5px;
}

.profile-img-sm {
  border-radius: 50%;
  border: none;
  height: 24px;
  overflow: hidden;
  transform: scale(1);
  transition: transform .2s ease-in-out;
  width: 24px;
}

.brand-color {
  color: #0a66c2 !important;
}

.top-bar {
  left: 0;
  padding: 0 .8rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
  border-bottom: 1px solid rgba(0, 0, 0, .08);
}

.nav-link {
  color: rgba(0, 0, 0, .6);
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}

.nav>li :hover {
  color: rgba(0, 0, 0, .9);
}

.nav-link>svg,
.nav-link>.link-name {
  display: block;
  margin: 0px auto;
}

.nav-link-active {
  color: rgba(0, 0, 0, .9);
}

.nav-link-active-bar {
  border-bottom: 2px solid rgba(0, 0, 0, .9);
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
  transform: scaleX(100%);
  transition: transform .2s ease-in;
  width: 100%
}

.search-bar {
  color: rgba(0, 0, 0, .6);
  height: 45px;
  overflow: hidden;
  padding: 5px;
}

.search-bar>svg {
  position: relative;
  top: -35px;
  left: 1rem;
}

.search-input {
  border: none;
  box-shadow: none;
  background-color: #eef3f8;
  padding-left: 2.4rem;
}

.logo {
  display: inline-block;
}

.border-left-1 {
  border-left: 1px solid #ccc;
}

.nav-link-sm {
  padding-left: 0.85rem;
  padding-right: 0.85rem;
}

.mtx {
  margin-top: 2px !important;
}

.nav-overflow {
  position: relative;
  height: 0;
  width: 0;
}

.nav-overflow-items {
  background-color: #fff;
  width: 130px;
  height: 55px;
  position: absolute;
  left: -86px;
  bottom: -65px;
  border: 1px solid #e2e0e0;
  box-shadow: 0px 3px 4px -2px #e1e1e1;
  border-radius: 0 0 10px 0;
  padding: 5px;
}

.profile-header {
  height: 56.250px;
  background-image: url('https://static.licdn.com/sc/h/55k1z8997gh8dwtihm11aajyq');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .6rem .6rem 0 0;
}

.notification-badge {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  border: 5.5px solid #cc1016;
  border-radius: 10px;
  top: -4px;
  left: 11px;
}

.insert.notification-badge {
  background: #cc1016;
  color: #fff !important;
  border: 0px;
  line-height: 13px;
  font-size: 10px;
  width: auto;
  padding: 2px;
  min-width: 16px;
}

.mobile-viewport {
  padding: 0 !important;
}

.md-viewport {
  top: 3.5rem !important
}

@media (max-width: 1200px) {
  .container {
    max-width: 100%;
    padding: 0;
  }
}

.card {
  border-radius: 0.6rem;
  background-color: #ffffff;
}

.identity>img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0px auto;
  position: relative;
  top: -36px;
}

.profile-name {
  margin-top: -.5rem;
  font-weight: 500;
  font-size: .9rem;
}

.profile-title {
  font-size: .6rem;
  color: rgba(0, 0, 0, .6);
}

.profile-views {
  padding: 0.8rem 0;
  margin-top: 0.8rem;
  border-top: 1px solid rgba(0, 0, 0, .08);
  width: 100%;
  font-size: .7rem;
  color: rgba(0, 0, 0, .6);
  font-weight: 500;
}

.profile-views>.profile-view-item {
  padding: 0 0.8rem;
}
.hover-bg:hover {
  background-color: rgba(0, 0, 0, .08);
  cursor: pointer;
}

.access-tools {
  font-size: .6rem;
  color: rgba(0, 0, 0, .6);
  border-top: 1px solid rgba(0, 0, 0, .08);
  padding: 0.8rem 0.8rem 0;
}

.premium-ad {
  padding: 0 0.8rem 0.8rem;
  line-height: 17px;
}

.premium-ad>a {
  font-size: .6rem;
  color: rgba(0, 0, 0, .6) !important;
  font-weight: 500;
  text-decoration: underline;
}

.profile-items {
  padding: .8rem;
  display: block;
  border-radius: 0 0 0.6rem 0.6rem;
  font-size: .65rem;
  font-weight: 500;
  color: rgba(0, 0, 0, .6);
  border-top: 1px solid rgba(0, 0, 0, .08);
}